@font-face {
  font-family: 'Thin_foma';
  font-style: normal;
  font-weight: 400;
  src: local('Thin_foma'), local('Thin_foma'),
    url('../assets/fonts/Thin_Foma.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'SpaceCyr';
  font-style: normal;
  font-weight: 400;
  src: local('SpaceCyr'), local('SpaceCyr'),
    url('../assets/fonts/SpaceCyr.ttf') format('truetype'); /* Safari, Android, iOS */
}

